.token.comment{
    color: #000;
}
.token.selector{
    color: #000;
}
.token.punctuation{
    color: #000;
}
.token.property{
    color: #000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
@keyframes breath{
    0%{
      box-shadow: 2px 3px 16px #fff;
    }
    100%{
      box-shadow: 2px 3px 16px rgba(0,0,0,0.3);
    }
}
body{
    .buttons{
        height: 100vh;
        transition: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            border-radius: 5px;
            background-color: #DDDDDD;
            border: none;
            margin: 16px;
            padding: 8px 16px;
        }
        button:focus{
            outline: none;
        }
        .active{
            animation: breath 1.5s linear alternate infinite ;
            background: #11A8CD;
        }
    }
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space;
   
}
#codeWrapper{
    #code{
        overflow: auto;
    }
}

#innerPaper{
    overflow: auto;
    white-space: pre-wrap;
}